<header class="w-full flex items-center bg-gray-100 shadow-md py-2">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <h1 class="text-2xl text-blue-600 font-bold cursor-pointer">Logo</h1>
    <!-- Navigation -->
    <ul class="flex space-x-6">
      <li
        *ngFor="let item of title"
        class="text-lg text-gray-700 hover:text-blue-500 transition-colors"
      >
        <a
          [routerLink]="item.path"
          [routerLinkActive]="'bg-blue-200 px-4 py-2 rounded-lg'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ item.title }}
        </a>
      </li>
    </ul>
  </div>
</header>
