h1 {
  color: red;
}

#testId {
  width: 50em;
}

h5 {
  font-size: xx-large;
}

.danger {
  color: purple;
}
.sucess {
  color: green;
}
button {
  margin: 10px;
  font-size: xx-large;
  font-weight: bold;

  &:hover {
    background-color: red;
  }

  &:active {
    background-color: green;
  }

  width: 100px;
  height: 50px;
}
