<form
  class="max-w-md mx-auto mt-8 p-6 bg-white rounded-lg shadow-md"
  [formGroup]="userForm"
  (ngSubmit)="submit()"
>
  <h2 class="text-2xl font-bold mb-6 text-gray-800">Personal Details</h2>

  <div class="mb-4">
    <label for="name" class="block text-gray-700 text-sm font-bold mb-2"
      >Full Name</label
    >
    <input
      type="text"
      id="name"
      name="name"
      class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      formControlName="name"
    />
    <div
      *ngIf="(registerFormControl['name'].touched || submitted) &&  registerFormControl['name'].errors?.['required']"
    >
      Name field is required
    </div>
  </div>

  <div class="mb-4">
    <label for="email" class="block text-gray-700 text-sm font-bold mb-2"
      >Email Address</label
    >
    <input
      type="email"
      id="email"
      name="email"
      class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      formControlName="email"
    />
    <div
      *ngIf="(registerFormControl['email'].touched || submitted) &&  registerFormControl['email'].errors?.['required']"
    >
      Email field is required
    </div>
    <div
      *ngIf="registerFormControl['email'].touched  &&  registerFormControl['email'].errors?.['email']"
    >
      Enter a valid email address
    </div>
  </div>

  <div class="mb-4">
    <label for="phone" class="block text-gray-700 text-sm font-bold mb-2"
      >Phone Number</label
    >
    <input
      type="tel"
      id="phone"
      name="phone"
      class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      formControlName="number"
    />

    <div
      *ngIf="(registerFormControl['number'].touched || submitted) &&  registerFormControl['number'].errors?.['required']"
    >
      Number field is required
    </div>
    <div
      *ngIf="
        registerFormControl['number'].touched &&
        registerFormControl['number'].errors?.['pattern']
      "
    >
      Please, Enter 10 digit Mobile Number
    </div>
  </div>

  <div class="mb-6">
    <label for="dob" class="block text-gray-700 text-sm font-bold mb-2"
      >Date of Birth</label
    >
    <input
      type="date"
      id="dob"
      name="dob"
      class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      formControlName="dob"
    />
    <div
      *ngIf="(registerFormControl['dob'].touched || submitted) &&  registerFormControl['dob'].errors?.['required']"
    >
      Date of birth is required
    </div>
  </div>

  <button
    type="submit"
    class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
  >
    Submit
  </button>
</form>
