<div>
  <h1>This is Interpolation</h1>
  <h2>App component {{ title }}</h2>
  <p>The current year is {{ currentYear }}</p>
  <p>{{ name }}</p>
  <p>{{ 2 + 2 }}</p>
  <h3>{{ greetUser() }}</h3>
  <h1>Property Binding</h1>
  <input type="text" [id]="myId" (input)="onChange($event)" />

  <input type="text" [id]="myId" [disabled]="isDisabled" />

  <h1>Class Binding</h1>
  <h5 [ngClass]="count > 0 ? 'bg-gray-500' : 'bg-green-300'" class="text-5xl">
    counter {{ count }}
  </h5>
  <h5 [class.bg-green-300]="count > 0" class="text-5xl">counter {{ count }}</h5>

  <button (click)="increament()">+</button>
  <button (click)="decrement()">-</button>
  <!--  -->

  <h1>Template Reference Variable</h1>
  <input type="text" #myInput />
  <button (click)="log(myInput)">Click me</button>
</div>
